.nothing-found {
  text-align: center;
  margin-top: 12%;
  font-family: 'Apercu';
}
  
span {
  color: #B0A2FC;
  transition: 250ms;
  cursor: pointer;
  font-size: 14px;
}
  
span:hover {
  opacity: 0.5;
}
  
p {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  margin: 0 0 8px 0;
}
  
h2 {
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 10px;
}