.table {
  width: 550px;
  background: #36363C;
  position: absolute;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.cross {
  position: absolute;
  width: 26px;
  top: 11px;
  right: 11px;
  fill: #C0C0C2;
  z-index: 2;
  cursor: pointer;
}

header > img {
  position: absolute;
  right: 22px;
  top: 70px;
  cursor: pointer;
} 

header {
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  padding: 28px 15px 0 15px;
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: 4px;
}
h1 {
  margin: 0 0 0 12px;
  line-height: 0.8;
  font-size: 22px;
  font-family: 'Apercu';
  font-weight: bold;
}
  
input {
  width: 100%;
  height: 38px;
  color: rgba(255, 255, 255, 0.3);
  background: #36363C;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-family: 'Apercu';
  font-weight: normal;
  box-sizing: border-box;
  padding: 16px 18px 12px 35px;
  margin: 16px 0 18px 0;
  background: url('/images/search.svg') no-repeat;
  background-position: 2.4% 58%;
  transition: 150ms;
}
  
input:focus {
  outline: none;
  background: url('/images/search.svg') no-repeat rgba(255, 255, 255, 0.08);
  background-position: 2.4% 58%;
  color: #FFFFFF
}

main {
  height: 326px;
  padding: 0 5px 20px 5px;
  overflow-y: auto;
  border-bottom: 1px solid transparent;
}
  
table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  padding: 5px;
  font-family: 'Apercu';
  font-weight: normal;
}

th {
  position: sticky;
  top: 0;
  text-align: left;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px 22px;
  background-color: #36363C;
  min-width: 125px;
  max-width: 125px;
}
  
th:first-child {
  padding-left: 25px;
  min-width: 30px;
  max-width: 30px;
}

th:nth-child(2) {
  min-width: 170px;
  max-width: 170px;
}

th:last-child {
  min-width: 30px;
}

tbody tr {
  font-size: 14px;
  height: 30px;
}
  
td {
  color: #C0C0C2;
  text-align: left;
  padding: 3px 22px 0 22px;
  box-sizing: border-box;
  min-width: 125px;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}

tbody tr:hover > td{
  color: #FFFFFF;
  background: #44444B;
  cursor: pointer;
  transition: 150ms;
}

tbody tr:hover > td:nth-child(2){
  color: #9B8CEB;
}
  
td:first-child {
  border-radius: 4px 0px 0px 4px;
  padding-left: 26px;
  min-width: 30px;
  max-width: 30px;
}
  
td:nth-child(2) {
  color:  #B0A2FC;
  min-width: 170px;
  max-width: 170px;
}
  
td:last-child {
  border-radius: 0px 4px 4px 0px;
  min-width: 30px;
}

.footer-blur {
  position: absolute;
  pointer-events: none;
  border-radius: 4px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(179.97deg, rgba(54, 54, 60, 0) -23.07%, #36363C 70.17%, #36363C 92.17%);
}